
.button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    
}
.button:hover {
    -fx-background-color:
        linear-gradient(#e68400,#ffd65b),
        linear-gradient(#f2ba44,#ffef84),
        linear-gradient(#efaa22,#ffea6a),
        linear-gradient(#f8c202 0%, #ffe657 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}
.button:pressed {
    -fx-background-insets: 3 0 0 0,3 0 4 0, 3 0 5 0, 3 0 6 0;
}
.root{
    
    -fx-background-image: url("fondo.jpg"); 
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    
    
}
.label{
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(28, 157, 200);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    

   
}

#title-text {
   -fx-font-size: 45px;
   -fx-font-family: "Berlin Sans FB Demi";
   -fx-fill: linear-gradient(rgb(42, 156, 232),rgb(61, 232, 42));
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   -fx-effect: dropshadow( gaussian , rgb(17, 144, 3), 0,0,0,3 );
   -fx-stroke: white;
   -fx-stroke-width: 1.3;
}

